---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
//fetching data
const data = await Astro.glob('../posts/*.md');
---



<Layout title= "Astro Blog"> 
  <section class="page-content">
    <div class="container">
        {data.map(data=>(
            <Card>
             <h3>{data.frontmatter.title}</h3>
        <p>{data.frontmatter.excerpt}</p>     
                </Card>
        ))}

    </div>
  </section>
</Layout>

