---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/showcase.astro";
import Card from "../components/card.astro";
//fetching data
const data = await Astro.glob('../posts/*.md');
---



<Layout title= "Astro Blog"> 
<Showcase headings='Astro Blog' text='This is a simple Blog built using Astro'/>

  <section class="page-content">
    <div class="container">
        {data.map(data=>(
            <Card>
             <h3>{data.frontmatter.title}</h3>
              <p>{data.frontmatter.excerpt}</p>   
              <a class='btn' href={`/${data.frontmatter.slug}`}> Read More!</a> 
                </Card>
        ))}

    </div>
  </section>
</Layout>

